.container {
  // max-width: 1280px !important;
  height: 100vh;
}

.filters {
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.filters h4 {
  margin-right: 10px;
}

.selectFilters button {
  min-width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.selectLabel {
  padding: 0px !important;
  display: flex;
  align-items: center;
  direction: rtl;
  max-width: 120px !important;
}

.selectDropdown {
  padding: 0px !important;
  padding-right: 10px !important;
}

.searchFilters {
  flex: 1 auto;
  text-align: left;
}

.launchImage {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: #000;
  justify-content: center;
  margin-right: 20px;
  border-radius: 5px;
  width: 100% !important;
  max-height: 260px !important;
  object-fit: cover;
  background-repeat: no-repeat;
}

.launchType {
  margin-bottom: 5px;
  font-size: 20px;
}

.heading {
  font-size: 16px;
  margin-bottom: 0px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links button {
  background-color: black;
  text-decoration: none;
  outline: none;
  border: none;
  height: 25px;
  width: 25px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: initial;
}

.links button svg {
  color: #ffff;
  height: 12px;
  width: 12px;
}

.launchBottomRow {
  text-align: start;
  display: flex;
  flex-direction: column;
}

.selectFilterText {
  text-transform: capitalize;
  margin-right: 20px;
}

.loader {
  min-height: 70vh;
  min-width: calc(100vw - 390px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  min-width: calc(100vw - 100px);
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.noDataFound {
  min-width: calc(100vw - 100px);
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.rocketInfo {
  flex: inherit !important;
}

.launchCardItem {
  margin: 0.7rem;
  padding: 0 !important;
}

@media (max-width: 600px) {
  .launchCardItem {
    width: 100% !important;
  }

  .selectFilters {
    margin-bottom: 10px !important;
  }
}


@media (max-width: 1280px) {
  .selectFilters {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 600px) {
  .launchCardItem {
    max-width: 18rem !important;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .launchCardItem {
    max-width: 100% !important;
  }
}